template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Medallion Data Platform - Bronze, Silver and Gold layer

Resources:

  # S3 Bucket for collecting raw data 
  # MedallionDataPlatform:
  #   Type: AWS::S3::Bucket
  #   # keep the bucket and its contents when the stack is deleted
  #   DeletionPolicy: Retain  
  #   UpdateReplacePolicy: Retain
  #   Properties:
  #     BucketName: medallion-data-platform

  # Hacker News Orchestrator - triggers every day at midnight
  HackernewsOrchestrator:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: hackernews-orchestrator
      Architectures:
        - x86_64
      CodeUri: ./bronze/hackernews/orchestrator/
      Handler: lambda_function.lambda_handler
      Runtime: python3.14
      MemorySize: 128
      Timeout: 300
      Environment:
        Variables:
          SQS_QUEUE_URL: !GetAtt HackernewsWorkerQueue.QueueUrl
      Policies:
        - S3WritePolicy:
            BucketName: medallion-data-platform
        - SQSSendMessagePolicy:
            QueueName: !GetAtt HackernewsWorkerQueue.QueueName

  # SQS Queue - queue between orchestrator and worker
  HackernewsWorkerQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: hackernews-worker-queue
      VisibilityTimeout: 120

  # Hacker News Worker - triggered by SQS queue
  HackernewsWorker:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: hackernews-worker
      Architectures:
        - x86_64
      CodeUri: ./bronze/hackernews/worker/
      Handler: lambda_function.lambda_handler
      Runtime: python3.14
      MemorySize: 128
      Timeout: 120
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform
        - LambdaInvokePolicy:
            FunctionName: hackernews-merger
      Events:
        SQSEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt HackernewsWorkerQueue.Arn
            BatchSize: 1

  # Hacker News Merger - event driven, triggered by worker
  HackernewsMerger:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: hackernews-merger
      Architectures:
        - x86_64
      CodeUri: ./bronze/hackernews/merger/
      Handler: lambda_function.lambda_handler
      Runtime: python3.14
      MemorySize: 128
      Timeout: 60
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # Hackernews Normalizer - event driven, triggered by merger
  HackernewsNormalizer:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: hackernews-normalizer
      Architectures:
        - x86_64
      CodeUri: ./silver/hackernews/normalizer/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 1024
      Timeout: 300
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      Policies:
          - S3CrudPolicy:
              BucketName: medallion-data-platform

  # Twitter Orchestrator - triggers every day at midnight
  TwitterOrchestrator:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: twitter-orchestrator
      Architectures:
        - x86_64
      CodeUri: ./bronze/twitter/orchestrator/
      Handler: lambda_function.lambda_handler
      Runtime: python3.14
      MemorySize: 1024
      Timeout: 600
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform
        - LambdaInvokePolicy:
            FunctionName: twitter-merger

  # Twitter Merger - event driven, triggered by orchestrator
  TwitterMerger:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: twitter-merger
      Architectures:
        - x86_64
      CodeUri: ./bronze/twitter/merger/
      Handler: lambda_function.lambda_handler
      Runtime: python3.14
      MemorySize: 1024
      Timeout: 600
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # Twitter Normalizer - event driven, triggered by merger
  TwitterNormalizer:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: twitter-normalizer
      Architectures:
        - x86_64
      CodeUri: ./silver/twitter/normalizer/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 1024
      Timeout: 300
      VpcConfig:
        SubnetIds:
          - !Ref DataPlatformPrivateSubnet
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # Silver Posts Merger - triggered by state machine after both normalizers complete
  SilverPostsMerger:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: silver-posts-merger
      Architectures:
        - x86_64
      CodeUri: ./silver/merger/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 512
      Timeout: 120
      VpcConfig:
        SubnetIds:
          - !Ref DataPlatformPrivateSubnet
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # Gold Counts - computes daily_content_counts and daily_users_metric, triggered after silver merge
  GoldCounts:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: gold-counts
      Architectures:
        - x86_64
      CodeUri: ./gold/counts/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 2048
      Timeout: 300
      VpcConfig:
        SubnetIds:
          - !Ref DataPlatformPrivateSubnet
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # Gold Rankings - computes top-N ranking tables, triggered after gold-counts
  GoldRankings:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: gold-rankings
      Architectures:
        - x86_64
      CodeUri: ./gold/rankings/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 2048
      Timeout: 300
      VpcConfig:
        SubnetIds:
          - !Ref DataPlatformPrivateSubnet
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      Policies:
        - S3CrudPolicy:
            BucketName: medallion-data-platform

  # S3 To Postgres
  S3ToPostgresLambda:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: s3-to-postgres
      Architectures:
        - x86_64
      CodeUri: ./export/s3_to_postgres/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 1024
      Timeout: 300
      Layers:
        - !Sub "arn:aws:lambda:${AWS::Region}:336392948345:layer:AWSSDKPandas-Python312:13"
      VpcConfig:
        SubnetIds:
          - !Ref DataPlatformPrivateSubnet
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
      Environment:
        Variables:
          DB_HOST: !GetAtt DataPlatformEC2.PrivateIp
          DB_NAME: medallion
          DB_USER: medallion_user
          DB_PASSWORD: MedallionPwd123!
          S3_BUCKET: medallion-data-platform
      Policies:
        - S3ReadPolicy:
            BucketName: medallion-data-platform
        - Statement:
          - Effect: Allow
            Action:
              - ec2:CreateNetworkInterface
              - ec2:DescribeNetworkInterfaces
              - ec2:DeleteNetworkInterface
            Resource: '*'

  # Discord notifier
  DiscordNotifier:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: discord-notifier
      CodeUri: ./notifications/discord_notifier/
      Handler: lambda_function.lambda_handler
      Runtime: python3.12
      MemorySize: 128
      Timeout: 30
      Environment:
        Variables:
          DISCORD_WEBHOOK: ""
      Policies:
        - AWSLambdaBasicExecutionRole     


  # Daily Data Pipeline - orchestrates bronze ingestion, silver normalization and merging
  DataPipelineStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: data-pipeline
      Definition:
        Comment: "Daily pipeline: ingest bronze, wait for HN workers, normalize silver, merge"
        StartAt: IngestBronzeData
        States:
          IngestBronzeData:
            Type: Parallel
            Branches:
              - StartAt: InvokeHNOrchestrator
                States:
                  InvokeHNOrchestrator:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: hackernews-orchestrator
                    End: true
              - StartAt: InvokeTwitterOrchestrator
                States:
                  InvokeTwitterOrchestrator:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: twitter-orchestrator
                    End: true
            Next: WaitForHNWorkers
          WaitForHNWorkers:
            Type: Wait
            Seconds: 3600
            Next: NormalizeSilverData
          NormalizeSilverData:
            Type: Parallel
            Branches:
              - StartAt: InvokeHNNormalizer
                States:
                  InvokeHNNormalizer:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: hackernews-normalizer
                    End: true
              - StartAt: InvokeTwitterNormalizer
                States:
                  InvokeTwitterNormalizer:
                    Type: Task
                    Resource: arn:aws:states:::lambda:invoke
                    Parameters:
                      FunctionName: twitter-normalizer
                    End: true
            Next: MergeSilverPosts
          MergeSilverPosts:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: silver-posts-merger
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: NotifyDiscord
            Next: RunGoldCounts
          RunGoldCounts:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: gold-counts
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: NotifyDiscord
            Next: RunGoldRankings
          RunGoldRankings:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: gold-rankings
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: NotifyDiscord
            Next: RunS3ToPostgres
          RunS3ToPostgres:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: s3-to-postgres
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: NotifyDiscord
            End: true
          NotifyDiscord:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: discord-notifier
              Payload.$: $
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: hackernews-orchestrator
        - LambdaInvokePolicy:
            FunctionName: twitter-orchestrator
        - LambdaInvokePolicy:
            FunctionName: hackernews-normalizer
        - LambdaInvokePolicy:
            FunctionName: twitter-normalizer
        - LambdaInvokePolicy:
            FunctionName: silver-posts-merger
        - LambdaInvokePolicy:
            FunctionName: gold-counts
        - LambdaInvokePolicy:
            FunctionName: gold-rankings
        - LambdaInvokePolicy:
            FunctionName: s3-to-postgres
        - LambdaInvokePolicy:
            FunctionName: discord-notifier
      Events:
        DailySchedule:
          Type: Schedule
          Properties:
            Schedule: "cron(0 0 * * ? *)"
  
  # VPC Networking
  DataPlatformVPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsHostnames: true
      EnableDnsSupport: true
  
  DataPlatformSubnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref DataPlatformVPC
      CidrBlock: 10.0.1.0/24
      MapPublicIpOnLaunch: true

  DataPlatformPrivateSubnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref DataPlatformVPC
      CidrBlock: 10.0.2.0/24
      MapPublicIpOnLaunch: false


  PrivateRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref DataPlatformVPC


  PrivateSubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      SubnetId: !Ref DataPlatformPrivateSubnet
  
  InternetGateway:
    Type: AWS::EC2::InternetGateway
  
  VPCGatewayAttachment:
    Type: AWS::EC2::VPCGatewayAttachment
    Properties:
      VpcId: !Ref DataPlatformVPC
      InternetGatewayId: !Ref InternetGateway
  
  PublicRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref DataPlatformVPC
    
  PublicRoute:
    Type: AWS::EC2::Route
    DependsOn: VPCGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: 0.0.0.0/0
      GatewayId: !Ref InternetGateway
  
  SubnetRouteTableAssociation:
    Type: AWS::EC2::SubnetRouteTableAssociation
    Properties:
      RouteTableId: !Ref PublicRouteTable
      SubnetId: !Ref DataPlatformSubnet

  S3VPCEndpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      VpcId: !Ref DataPlatformVPC
      ServiceName: !Sub com.amazonaws.${AWS::Region}.s3
      RouteTableIds:
        - !Ref PublicRouteTable
        - !Ref PrivateRouteTable   
      VpcEndpointType: Gateway

  # Security Groups
  EC2SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: PostgreSQL and Superset on EC2
      VpcId: !Ref DataPlatformVPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
        - IpProtocol: tcp
          FromPort: 8088
          ToPort: 8088
          CidrIp: 0.0.0.0/0
      SecurityGroupEgress:
        - IpProtocol: -1
          CidrIp: 0.0.0.0/0

  LambdaSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: S3-to-PostgreSQL Lambda
      VpcId: !Ref DataPlatformVPC
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          CidrIp: 10.0.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0

  DataPlatformInstanceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore

  DataPlatformInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      Roles:
        - !Ref DataPlatformInstanceRole

  # EC2 Instance
  DataPlatformEC2:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: t3.small
      ImageId: '{{resolve:ssm:/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-x86_64}}'
      SubnetId: !Ref DataPlatformSubnet
      SecurityGroupIds:
        - !Ref EC2SecurityGroup
      IamInstanceProfile: !Ref DataPlatformInstanceProfile
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          set -e
          exec > /var/log/userdata.log 2>&1

          # ── PostgreSQL 15 ──────────────────────────────────────────────
          dnf install -y postgresql15-server postgresql15
          postgresql-setup --initdb

          # Allow password auth from all VPC addresses
          sed -i "s|host    all             all             127.0.0.1/32            ident|host    all             all             10.0.0.0/8              md5|" /var/lib/pgsql/data/pg_hba.conf
          echo "listen_addresses = '*'" >> /var/lib/pgsql/data/postgresql.conf

          systemctl enable postgresql
          systemctl start postgresql

          # Create DB, user, and all 6 gold tables
          sudo -u postgres psql <<'SQL'
          CREATE USER medallion_user WITH PASSWORD 'MedallionPwd123!';
          CREATE DATABASE medallion OWNER medallion_user;
          GRANT ALL PRIVILEGES ON DATABASE medallion TO medallion_user;
          SQL

          sudo -u postgres psql -d medallion <<'SQL'
          CREATE TABLE IF NOT EXISTS daily_content_counts (
            date        TEXT    NOT NULL,
            post_type   TEXT    NOT NULL,
            count       INTEGER,
            dq_score    FLOAT,
            PRIMARY KEY (date, post_type)
          );
          CREATE TABLE IF NOT EXISTS daily_users_metric (
            platform    TEXT    NOT NULL,
            date        TEXT    NOT NULL,
            total_users INTEGER,
            new_users   INTEGER,
            dq_score    FLOAT,
            PRIMARY KEY (platform, date)
          );
          CREATE TABLE IF NOT EXISTS top_x_users_by_followers (
            date            TEXT    NOT NULL,
            username        TEXT,
            followers_count INTEGER,
            rank_position   INTEGER NOT NULL,
            dq_score        FLOAT,
            PRIMARY KEY (date, rank_position)
          );
          CREATE TABLE IF NOT EXISTS top_hn_users_by_karma (
            date          TEXT    NOT NULL,
            username      TEXT,
            karma_score   INTEGER,
            rank_type     TEXT    NOT NULL,
            rank_position INTEGER NOT NULL,
            dq_score      FLOAT,
            PRIMARY KEY (date, rank_type, rank_position)
          );
          CREATE TABLE IF NOT EXISTS top_hn_posts_by_score (
            date          TEXT    NOT NULL,
            post_id       TEXT,
            content_text  TEXT,
            score         INTEGER,
            rank_position INTEGER NOT NULL,
            dq_score      FLOAT,
            PRIMARY KEY (date, rank_position)
          );
          CREATE TABLE IF NOT EXISTS top_hn_jobs_by_score (
            date          TEXT    NOT NULL,
            post_id       TEXT,
            content_text  TEXT,
            score         INTEGER,
            rank_position INTEGER NOT NULL,
            dq_score      FLOAT,
            PRIMARY KEY (date, rank_position)
          );
          GRANT ALL ON ALL TABLES IN SCHEMA public TO medallion_user;
          SQL

          # ── Apache Superset ────────────────────────────────────────────
          dnf install -y python3.11 python3.11-pip python3.11-devel gcc libpq-devel openssl-devel

          pip3.11 install --upgrade pip
          pip3.11 install apache-superset psycopg2-binary
          pip3.11 install rich cachetools

          mkdir -p /etc/superset /var/lib/superset
          cat > /etc/superset/superset_config.py <<'CONF'
          SECRET_KEY = 'MedallionSupersetKey123!'
          SQLALCHEMY_DATABASE_URI = 'sqlite:////var/lib/superset/superset.db'
          WTF_CSRF_ENABLED = False
          CONF

          export SUPERSET_CONFIG_PATH=/etc/superset/superset_config.py
          export FLASK_APP=superset

          superset db upgrade
          superset fab create-admin \
            --username admin \
            --firstname Admin \
            --lastname User \
            --email admin@example.com \
            --password admin
          superset init

          # Register the PostgreSQL data source in Superset
          python3.11 - <<'PYEOF'
          import os
          os.environ['SUPERSET_CONFIG_PATH'] = '/etc/superset/superset_config.py'
          from superset.app import create_app
          from superset import db
          flask_app = create_app()
          with flask_app.app_context():
              from superset.models.core import Database
              existing = db.session.query(Database).filter_by(database_name='Medallion Platform').first()
              if not existing:
                  source = Database(
                      database_name='Medallion Platform',
                      sqlalchemy_uri='postgresql+psycopg2://medallion_user:MedallionPwd123!@localhost:5432/medallion',
                      expose_in_sqllab=True,
                  )
                  db.session.add(source)
                  db.session.commit()
          PYEOF

          # Run Superset as a systemd service
          cat > /etc/systemd/system/superset.service <<'SERVICE'
          [Unit]
          Description=Apache Superset
          After=network.target

          [Service]
          Environment=SUPERSET_CONFIG_PATH=/etc/superset/superset_config.py
          ExecStart=/usr/local/bin/superset run -p 8088 --host 0.0.0.0
          Restart=on-failure

          [Install]
          WantedBy=multi-user.target
          SERVICE

          systemctl daemon-reload
          systemctl enable superset
          systemctl start superset
